<div class="jumbotron">
  <h1>Welcome to Microtwit</h1>
  <p>
    It's like Twitter, except shitty and with no users.
  </p>
  <p>
    <%= link_to "Register now!", register_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>