- provide :title, 'Registration'
.row
  .col-md-6.col-md-offset-3
    h1 Register for Microtwit
    = simple_form_for @user do |f|
      = render 'shared/flashed_errors'
      = render 'fields', f: f
      = f.button :submit, 'Create account', class: 'btn btn-primary'
